*{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: ;}
}

.container-main {
    background-color: #ccc6c6;
    width: 400px;
    height: 720px;
    box-sizing: border-box;
    margin: 120px auto;
    padding: 60px 70px;
    border-radius: 15px;
    text-align: center;
}

.container-image {
    margin: 0;
 
    & img {
        width: 258px;
        border-radius: 30px;
    }
}

.container-infos {
    margin-top: 15px;
    margin-bottom: 10px;
}

.container-infos h1 {
    font-weight: 700px;
}

.container-infos h2 {
    font-weight: 600px;
    font-size: 18px;
}

.container-social ul {
    list-style-type: none;
}

.container-social a {
    text-decoration: none;
    color: white;
}

.container-social {
    margin-top: 0px;
}

.container-social li {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    width: 272px;
    height: 40px;
    background-color: blue;
    margin: 15px 0;
    border-radius: 20px;
    font-weight: 700;
    transition-duration: 0.3s;

    &:hover {
        background-color: crimson;
        transform:scale(1.1)

    }
}